.contact_form_wrapper {
  display: grid;
  /* justify-content: center; */
  background: url('../images/11-0-Color-Night-thumbnails.jpeg');
  background-size: cover;

  /* align-items: center; */
}
.contact_form {
  display: flex;
  flex-direction: column;
  /* background-color: beige; */
  padding-bottom: 100px;
  color: white;
  text-align: left;
  width: 35vw;
  margin-left: 32vw;
}

input {
  border-radius: 7px;
}

.name_and_email_container {
  padding-bottom: 10px;
}

textarea {
  border-radius: 7px;
  margin-bottom: 10px;
  height: 150px;
}

.contact_form_label_text_area {
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  .contact_form {
    width: 50vw;
    /* margin-left: auto;*/
    margin: auto;
  }
  .contact_form_h1 {
    font-size: 23px;
    width: 70vw;
    margin-left: -8vw;
  }
}
