.contact_form {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-color: beige;
  padding-bottom: 100px;
}
.contact_form_h1 {
  position: relative;
  right: 3%;
}
.name_and_email_container {
  display: flex;
  position: relative;
  width: fit-content;
  justify-content: center;
  align-items: center;
  left: 30%;
  padding-bottom: 10px;
}

.contact_form_label_text_area {
  text-align: left;
  position: relative;
  left: 30%;
  padding-bottom: 10px;
}
textarea {
  width: 490px;
  position: relative;
  left: 30%;
  height: 20vh;
}

.contact_form_submit {
  position: relative;
  margin-top: 10px;
  width: 500px;
  left: 30%;
  height: 40px;
}
