.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: black;
  height: 5vh;
}

.nav_bar_left {
  margin-left: 2vw;
}

.nav_bar_right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30vw;
  margin-right: 2vw;
}

.nav_bar_item {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-bottom: 2px;
  margin-top: 1px;
}

.nav_bar_item:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .nav_bar_right {
    margin-right: 5vw;
  }
  .nav_bar_item {
    margin-left: 2vw;
  }
}
