.projects_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 2fr));
  width: 85vw;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
}
.project_card {
  display: flex;
  border: 1px solid lightgray;
  margin: 10px 0px;
  border-radius: 5px;
  height: fit-content;
}
.project_card_link {
  text-decoration: none;
  color: black;
}
.project_card_left {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  width: 35vw;
  padding-left: 10px;
}

.project_card_left_p {
  text-align: left;
}

.project_card_left_image {
  height: 300px;
  width: 500px;
  padding-bottom: 10px;
}
.project_card_right {
  display: flex;
  flex-direction: column;
}
.project_card_right_p {
  text-align: left;
  width: fit-content;
  margin-bottom: -10px;
}

.project_card_right_li {
  text-align: left;
  margin-right: 5vw;
}

@media screen and (max-width: 600px) {
  .projects_wrapper {
    width: 100vw;
    margin-left: 1vw;
    margin-right: 2vw;
  }
  .project_card {
    display: grid;
    margin-left: 1vw;
    margin-right: 5vw;
  }
  .project_card_left {
    width: 96vw;
  }
  .project_card_left_image {
    height: 200px;
    width: 96vw;
    margin: auto;
  }
  .project_card_right {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}
