.projects_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 2fr));
  width: 90%;
}
.project_card {
  display: flex;
  border: 1px solid lightgray;
  margin: 10px 0px;
  border-radius: 5px;
}
.project_card_link {
  text-decoration: none;
  color: black;
}
.project_card_left {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.project_card_left_image {
  height: 300px;
  width: 500px;
}
.project_card_right {
  display: flex;
  flex-direction: column;
}
.project_card_right_h3 {
  justify-content: start;
  width: fit-content;
  margin-bottom: -10px;
}

.project_card_right_p {
  justify-content: start;
  align-items: flex-start;
}

@media screen and (max-width: 600px) {
  .projects_wrapper {
    width: 100%;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .project_card_left_image {
    height: 200px;
    width: 350px;
    margin: auto;
  }
  .project_card {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1fr, 2fr));
  }
}
